<div id="logo"></div>
<h1>Congress is considering a law<br />
That would <b>censor the web</b></h1>
<p>Sites you use every day<br />
<b>could be blocked</b> if it passes</p>
<a href="http://americancensorship.org">Take action now!</a>